# Virtual environments
venv/
.venv/
env/
videos
cat_vs_dog/archive/


# Personal notes
notes.txt

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Models / checkpoints / logs
*.h5
*.keras
*.pb
checkpoints/
logs/

# IDE / OS
.vscode/
.idea/
Thumbs.db
desktop.ini
